
.container_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 570px;
    background-color: rgb(255, 207, 207);
    padding: 0;
    margin: 0;
}
.item_list{
    margin: 0 2%;
    width: 25%;
    height: 75%;
    list-style: none; 
    overflow-y: scroll;
}
 .list_1{
    background-color: rgb(255, 249, 213);
}
 .list_2{
    background-color: rgb(255, 249, 213);
}
 .list_3{
    background-color: rgb(255, 249, 213);
}